<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Real Time Products</title>
</head>
<body>
  <h1>Real Time Products</h1>
  <ul>
    {{#each products}}
      <li>
        {{this.name}} - ${{this.price}}
      </li>
    {{/each}}
  </ul>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('products', (data) => {
      const productList = document.querySelector('ul');
      productList.innerHTML = '';
      data.forEach((product) => {
        const productItem = document.createElement('li');
        productItem.innerText = `${product.name} - $${product.price}`;
        productList.appendChild(productItem);
      });
    });
  </script>
</body>
</html>
